h3k4me3_1d_co,input_1d_co,h3k4me3_1d_con
h3k4me3_1d_ra,input_1d_ra,h3k4me3_1d_rat
input_1d_co,,input_1d_con
input_1d_ra,,input_1d_rat
input_2d_co,,input_2d_con
input_2d_ra,,input_2d_rat
mycn_2d_co,input_2d_co,mycn_2d_con
mycn_2d_ra,input_2d_ra,mycn_2d_rat
polii_1d_co,input_1d_co,polii_1d_con
polii_1d_ra,input_1d_ra,polii_1d_rat
